header{
  background-color: orange;
  padding-left: 10px;
}

#tiles{

}

.tile{
  position: relative;
  height:400px;
  width: 400px;
  background-color: #ff3f34;
  display: inline-block;
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
